//*==============================================================================
//** Colour, font stacks, media queries, that kind of thing  **
//*==============================================================================

//*=========================================
//** Layout **
//*=========================================

//* Flex Mixin
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

//*=========================================
//** Typography **
//*=========================================

//* Font Stacks
@mixin heading-font-stack {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
  font-style: normal;
}

@mixin main-font-stack {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
}

//*=========================================
//** Colours  **
//*=========================================

//  Background Colours
$background-colour-light: #fff;
$background-colour-main: #031A4A;

// Element Colours
$button-background-main: #0199FF;
$badge-colour-main: #BF0000;

//  Font Colours
$font-colour-light: #FFFFFF;
$font-colour-dark: #031A4A;
$font-colour-emphasis: #BF0000;

//*=========================================
//** Media Queries   **
//*=========================================

//TODO: Delete unused media queries

//********** Max Width **********

@mixin breakpoint($point) {
  @if unitless($point) {
    $point: 1px * $point;
  }

  @media (max-width: $point) {
    @content;
  }
}

//********** Min Width **********

@mixin min-breakpoint($point) {
  @if unitless($point) {
    $point: 1px * $point;
  }

  @media (min-width: $point) {
    @content;
  }
}

//********** Height **********

@mixin height-breakpoint($point) {
  @if unitless($point) {
    $point: 1px * $point;
  }

  @media (max-height: $point) {
    @content;
  }
}

//********** Width and Orientation **********

@mixin width-orientation-breakpoint($point, $orientation: portrait) {
  @if unitless($point) {
    $point: 1px * $point;
  }

  @media (max-height: $point) and (orientation: $orientation) {
    @content;
  }
}