//*=========================================
//** Imports **
//*=========================================

@use 'bits' as *; //Contains variables, media queries mixins etc.


// *=========================================
// ** Wrappers **
// *=========================================

html {
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

// * Box sizing rules
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  background-color: $background-colour-light;
}

main {
  @include main-font-stack;
}


//* Page Styles

.cta-link {
  color: $font-colour-light;
  background-color: $cta-link-background-main;
  border: 0;
  padding: 1.25rem 3.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

//* E-commerce Section

.ecommerce-section {
  @include flex(column);
  align-items: center;
  position: relative;
  padding: 100px;
  margin-bottom: 10rem;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: $background-gradient-main;
    border-radius: 3rem;
    z-index: -10;
  }
}

.package-card {
  @include flex(column);
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2.5rem 3rem 4.4rem;
  position: relative;
  color: $font-colour-dark;
  background-color: $background-colour-light;
  border-radius: 1rem;
  // z-index: 1;

  &::before {
    content: "2 MONTHS FREE";
    position: absolute;
    font-size: $font-size-six;
    background-color: $badge-colour-main;
    color: $font-colour-light;
    width: 90%;
    padding: 1.5rem 3rem;
    border-radius: 0.5rem 0.5rem 0 0;
    text-align: center;
    font-weight: normal;
    top: -4.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  &:not(:last-of-type) {
    margin-bottom: calc(4rem + 48px);
  }
}

.package-card__heading {
  margin: 0 auto 2.6rem;
  font-size: $font-size-three;
  font-weight: medium;
}

.package-card__sub-heading {
  width: 100%;
  font-size: $font-size-seven;
  text-align: left;
  margin: 0 auto 2rem;
}

.package-card__price {
  font-size: $font-size-one;
  margin: 0 auto 1.6rem 0;
  text-align: left;
  text-transform: uppercase;
  color: $font-colour-emphasis;
}

.package-card__price-info {
  font-size: $font-size-seven;
  margin: 0 auto 0.8rem 0;
}

.package-card__conditions-link {
  color: inherit;
  font-size: $font-size-eight;
  margin: 0 auto 3.5rem 0;

  &:after {
    content: "?";
    position: relative;
    top: 1px;
    left: 2rem;
    display: inline-block;
    border: 1px solid $border-colour-dark;
    text-align: center;
    width: 1.5rem;
    height: 1.5rem;
    font-size: $font-size-eight;
    border-radius: 1rem;
  }
}

.package-card__cta-link {
  margin: 0 auto 2.9rem 0;
  font-size: $font-size-five;
}

.package-card__features-list {
  margin: 0;
  padding-left: 1.2rem;
}

.package-card__features-list-item {
  font-size: $font-size-six;
  padding-left: 0.8rem;

  &:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }

  &::marker {
    content: url("/images/tick.svg");
    nt-size: $font-size-six;
  }
}

//* Website Section

.website-section {
  background-color: $background-colour-main;
  padding: 10rem 0;
  color: $font-colour-light;
}

.website-section__carousel-cell {
  width: 100%;
  height: auto;
  position: absolute;
}

img {
  display: block;
}

/*! Flickity v2.3.0
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  // overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentColor;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: 10px;
}

.flickity-prev-next-button.next {
  right: 10px;
}

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}