//*=========================================
//** Imports **
//*=========================================

@use 'bits' as *; //Contains variables, media queries mixins etc.


// *=========================================
// ** Wrappers **
// *=========================================

html {
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

// * Box sizing rules
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

.ecommerce-section {
  @include flex(column);
  align-items: center;
  position: relative;
  padding: 100px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: $background-gradient-main;
    border-radius: 3rem;
  }
}

.package-card {
  position: relative;
  background-color: $background-colour-light;
  z-index: 1;

  &::before {
    content: "2 MONTHS FREE";
  }
}

.package-card__features-list-item {
  &::marker {
    content: url("/images/tick.svg");
  }
}